* {
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}

body {
    background-color: #242524;
    margin-top: 80px;
}

/* Nav Bar styles */
nav {
    position: fixed;
    width: 100%;
    top: 0;
    background: #b1cba6;
    height: 80px;
    text-transform: uppercase;
    font-family: "Bebas Neue";
    font-weight: bold;
}

nav ul {
    float: right;
    margin-right: 20px;
}

nav ul li {
    display: inline-block;
    line-height: 80px;
    margin: 0 20px;
}

nav ul li a {
    color: black;
    font-size: 30px;
    padding: 7px 13px;
    border-radius: 10px;
}

.logo {
    color: black;
    font-size: 35px;
    line-height: 80px;
    padding: 0 100px;
}

ul li a:hover {
    background: #738678;
}

/* about styles */
#aBox {
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url("./media/about-bg.jpg");
    background-position: center;
    height: 700px;
    width: 1400px;
    margin: auto auto;
}

.aContent {
    text-align: center;
    width: 600px;
    line-height: 110px;
    background: rgba(36, 37, 36, .7);
    color: white;
    font-size: 30px;
    border: 10px solid black;
    border-radius: 20px;
}

#main {
    height: 800px;
    width: 1400px;
    overflow: hidden;
    margin-left: auto;
    margin-right: auto;
}

#mBox {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto auto;
    flex-wrap: wrap;
    justify-content: space-around;
}

.mTitle {
    text-align: center;
    font-size: 50px;
}

.mContent img {
    max-height: 400px;
    max-width: 400px;
    border: 5px solid black;
    border-radius: 15px;
}

.mContent {
    display: inline-flex;
    flex-direction: column;
}
/* contact styles */

/* footer styles */

footer {
    bottom: 0;
    background: #b1cba6;
    height: 30px;
    width: 100%;
}

footer h2 {
    text-align: center;
}